/.vs/
*.VC.db
*.VC.opendb
*.sln.docstates
*.suo
*.user
*.log
/srchybrid/Debug/
/srchybrid/Release/
/srchybrid/ARM64/
/srchybrid/ipch/
/srchybrid/x64/
/srchybrid/lang/x64/
/srchybrid/lang/ARM64/
/srchybrid/tests/Win32/
/srchybrid/tests/x64/
